<div id="<%= dom_id(tipo_de_identificacion_cliente) %>" class="<%= form_details_class %>">
  <p class="<%= p_class %>">
    <strong>Nombre:</strong>
    <%= tipo_de_identificacion_cliente.nombre %>
  </p>

</div>
