<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h1 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Nuevo Listado de Precio Archivo</h1>

    <%= render "form", listado_de_precio_archivo: @listado_de_precio_archivo %>

    <div class="mt-6">
      <%= link_to "Regresar a listado de precio archivos", ventas_listado_de_precio_archivos_path, class: "text-primary-700 hover:text-primary-900 dark:text-primary-500 dark:hover:text-primary-700" %>
    </div>
  </div>
</section>
