<form method="patch" class="local">
  <div class="p-6 space-y-6">
    <div>
      <label for="discount_authorization_approval_reason" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Razón:</label>
      <textarea id="discount_authorization_approval_reason" name="discount_authorization[approval_reason]" class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" rows="2"></textarea>
    </div>
  </div>
  <div
    class="flex justify-between space-x-2 p-6 rtl:space-x-reverse rounded-b">
    <button
      type="button"
      class="rounded-lg bg-red-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
      data-modal-hide="<%= modal_id %>">
      Cancelar
    </button>
    <button
      type="submit"
      class="inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Enviar
      <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
    </button>
  </div>
</form>
