<div>    
    <button 
      type="button" 
      data-action="sidebar-hover#toggle" 
      class="flex items-center justify-center text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
      data-sidebar-hover-target="toggleButton"
      id="toggle-button">
      <span class="sr-only">Toggle sidebar</span>
      <svg class="w-5 h-5 relative left-[-2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6H6m12 4H6m12 4H6m12 4H6"/>
      </svg>
    </button>
</div>